In [1]:
import numpy as np
import matplotlib.pyplot as plt
import glob
import PIL
import xlsxwriter
import pandas as pd

In [2]:
def count_zero(aImage):
    aImage_Zero = aImage.shape[0]*aImage.shape[1] - np.count_nonzero(aImage)
    return aImage_Zero

In [3]:
files = glob.glob('Eyelid Prediction/*.png')
inc = 0

dataArray = np.zeros((len(files),3))

for filename in files:
    a = filename
    b = a.replace('_M_', '_Model_').replace('Eyelid Prediction', 'Gland_Prediction')
    aImage = plt.imread(a)
    bImage = plt.imread(b)
    aZero = np.count_nonzero(aImage)
    bzero = np.count_nonzero(bImage)
    #print(f"aImage = {aZero}, \tbImage = {bzero}, \tRatio = {round(bzero/aZero*100,2)}%")

    dataArray[inc, :] = (aZero, bzero, round(bzero/aZero*100,2))
    inc = inc+1

In [8]:
df = pd.DataFrame(dataArray)
writer = pd.ExcelWriter('MG_Ratio.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Main')
writer.save()

In [9]:
df

           0        1      2
0   179011.0  26717.0  14.92
1   238947.0  28518.0  11.93
2   157276.0   7566.0   4.81
3   138712.0  27219.0  19.62
4   113000.0  22409.0  19.83
..       ...      ...    ...
70  104777.0  26205.0  25.01
71  183120.0  19268.0  10.52
72  178245.0  28417.0  15.94
73  156218.0  36188.0  23.17
74  181431.0  16067.0   8.86

[75 rows x 3 columns]